/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.generator-row {
    margin-bottom: 10rem!important;
}

.create_header--position {
    margin-bottom: 27px;
}

.create_header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.create_heading {
    margin-top: 30px;
    margin-bottom: 7px;
    display: inline-block;
    font-size: 24px;
    color: #616568;
    font-weight: 700 !important;
}

.create-header_search-box {
    display: inline-block;
    flex: 1 1 auto;
    margin-left: 18px;
    margin-top: 15px;
    position: relative;
}

.create-header_search-box .select2-container .select2-selection--single {
    height: 40px;
    min-width: 350px;
}

.create-header_search-box .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px;
}

.create-header_search-box .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
}

.content-group .content-wrapper {
    border-bottom: 1px solid #d4d4d4;
    width: 100%;
}

.content-group .content-wrapper .title {
    margin-left: 20px;
    margin-top: 10px;
    position: relative;
    top: 10px;
    background: #f7f7f7;
    padding: 5px 30px;
}

.content-group .content-wrapper .title .text {
    font-weight: 400;
    font-size: 15px;
    color: #a4a6a8;
}

.dynamiccodes {
    padding: 0;
    margin-top: 30px;
}

.dynamiccodes .code-type-card:nth-child(odd) {
    padding-left: 0 !important;
    padding-right: 10px !important;
}

.dynamiccodes a {
    padding: 13px 1px 1px 1px !important;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 68px;
    text-align: left;
    margin: 0 0 35px;
    background-color: #fff;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
}

.dynamiccodes .code-type-card i {
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
    transform-origin: 75% 50%;
}

.dynamiccodes .code-type-card a i {
    padding-left: 20px;
    padding-top: 3px;
    margin-right: 20px;
    font-size: 27px;
    color: #797d80;
    padding-bottom: 10px;
}

.pull-left {
    float: left !important;
}

.dynamiccodes .code-type-card h4 {
    font-size: 18px;
    font-weight: 600 !important;
    color: #616568;
    font-family: 'Source Sans Pro', sans-serif !important;
    margin-bottom: 5px;
}

.dynamiccodes .code-type-card a small {
    padding: 0px;
    font-size: 15px !important;
    padding-right: 15px !important;
}

.dynamiccodes .code-type-card a small {
    display: block;
    line-height: 1.4;
    color: #797d80;
    font-weight: 400;
    margin: 0;
}

.creation-no-default {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 22px;
    color: #616568;
    padding: 55px 0 0;
}

.creation-no-default img {
    width: 180px;
    height: auto;
    padding: 0;
    border: 0;
    margin: 0 0 20px;
}

.creation-no-default div {
    width: 50%;
    margin-left: 25%;
}

.code-type-card a.active,
.code-type-card a.active:hover {
    border: 2px solid #AE2025;
    padding: 12px 0 0 0 !important;
}

.code-type-card a.active:after,
.code-type-card a.active:hover:after {
    display: block;
    position: absolute;
    bottom: -7px;
    right: -8px;
    height: 24px;
    width: 24px;
    background-color: #AE2025;
    border-radius: 50%;
    font-family: "Font Awesome 5 Free" !important;
    speak: none;
    text-transform: none;
    line-height: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f00c";
    font-size: 15px;
    color: #fff;
    text-align: center;
    padding-top: 8px;
}

.code-type-card a:hover {
    border: 1px solid #a4a6a8;
}

.dynamiccodes .code-type-card:hover i {
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.2);
}

.mockup__smartphone {
    top: -45px !important;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.mockup__smartphone {
    background-image: none !important;
    background-color: #FFF;
    border: 1px solid #d3d3d3;
    border-radius: 46px;
    width: 348px !important;
    height: 610px !important;
    padding: 0;
    top: 0 !important;
    position: relative !important;
}

.preview-smartphone .preview-smartphone-wrapper {
    position: absolute;
    top: 70px;
    left: 17px;
    width: 320px;
    height: 516px;
}

.mockup__smartphone-wrapper {
    border: 1px solid #d3d3d3;
    position: relative;
    top: 45px !important;
    left: 12px !important;
    width: 322px !important;
    height: 518px !important;
}

.preview-smartphone .preview-smartphone-wrapper #smartphonePlaceholder {
    border: none;
    background-color: #000;
    width: 320px;
    height: 516px;
    overflow: auto;
}

#smartphonePlaceholder {
    overflow: hidden !important;
    background: #eee !important;
    display: none !important;
}

.previewNoVideoText {
    display: none;
}

.preview-smartphone-wrapper.noVideo:hover .previewNoVideoText {
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    z-index: 999;
    position: absolute;
    top: calc(50% - 128px);
    width: 100%;
    cursor: default;
}

.code-white-card {
    background: #fff;
    padding: 0 0 10px 0;
    border-radius: 8px;
    width: 270px;
    box-shadow: 0 3px 6px 0 rgb(121 125 128 / 56%);
    margin: 0 auto;
}

.code-white-card img {
    margin-bottom: -5px;
    border-radius: 8px;
}

.code-white-card .code-text {
    padding: 10px 20px;
}

.code-white-card i {
    color: #616568;
    font-size: 37px;
    display: inline-block;
    float: left;
    margin: 8px 0 0 !important;
}

.code-white-card span {
    font-size: 18px;
    color: #616568;
    text-align: left;
    display: inline-block;
    font-weight: 500;
    position: relative;
    line-height: 26px;
    width: calc(100% - 49px);
    margin-left: 10px;
}

#imgPlaceholder {
    display: block !important;
    max-height: 516px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.ratchet {
    position: relative;
    text-align: left;
}

.ratchet img {
    border: 0;
}

.preview-smartphone-wrapper.noVideo:hover .previewNoVideoText .static-code-text {
    top: 110px;
    position: relative;
}

.preview-smartphone-wrapper.noVideo:hover:after {
    content: "";
    background: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

.apply-fixedBottom-footerGenerator .generator-float-bottom {
    display: table;
}

.generator-float-bottom {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background: #3c4245;
    height: 80px;
    padding: 0 !important;
    box-shadow: rgb(86 86 86 / 17%) 0px -3px 5px 0px;
}

.generator-float-bottom {
    height: 64px !important;
    min-width: 320px !important;
}

.footer-generator-actions {
    float: left;
    width: 100%;
}

.table-cell-middle {
    display: table-cell;
    vertical-align: middle;
}

.state-generator-codetype .firststep {
    display: block;
}

.section-content_generator-footer {
    width: 70%;
}

.section-content {
    max-width: 1288px;
    padding: 0 16px;
    margin: 0 auto;
}

.grid {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    -webkit-box-flex: 0;
    flex: 0 1 auto;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -12px 0 -12px;
}

.col {
    box-sizing: border-box;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    -webkit-flex-basis: 0;
    flex-basis: 0;
    max-width: 100%;
    min-width: 0;
    padding: 0 12px 0 12px;
    position: relative;
}

.generator-float-bottom .btn.big {
    height: 45px !important;
    font-size: 15px !important;
    margin-right: -30px !important;
    width: calc(50% + 15px);
}

.btn.green {
    background-color: #AE2025;
    color: #fff !important;
}

.btn.lc {
    text-transform: none !important;
}

.generator-float-bottom .btn.big {
    padding: 0 40px !important;
}

.generator-float-bottom .btn {
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    padding: 12px 35px 0 35px;
    background-color: #AE2025;
    border: none;
    color: #fff;
    border-radius: 2px;
    box-shadow: none !important;
    outline: 0 !important;
    -moz-transition: all .15s ease;
    -o-transition: all .15s ease;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
}

.ladda-button {
    color: #fff;
    background: #90c52d;
    padding: 11px 25px;
    font-size: 15px;
    float: right;
    border: none !important;
}

.pull-right {
    float: right !important;
}

.ladda-button,
.ladda-button .ladda-label {
    -webkit-transition: .3s cubic-bezier(.175, .885, .32, 1.275) all!important;
    -moz-transition: .3s cubic-bezier(.175, .885, .32, 1.275) all!important;
    -ms-transition: .3s cubic-bezier(.175, .885, .32, 1.275) all!important;
    -o-transition: .3s cubic-bezier(.175, .885, .32, 1.275) all!important;
    transition: .3s cubic-bezier(.175, .885, .32, 1.275) all!important;
}

.ladda-button .ladda-label {
    position: relative;
    z-index: 3;
}

.ladda-spinner {
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

.secondstep {
    display: none;
}

.generator-float-bottom .btn-generator-prev {
    padding: 0px 10px 0px 0px !important;
    background: none !important;
    border-radius: 2px;
    color: #797d80 !important;
    -webkit-animation: 1.5s ease 0s normal forwards 1 fadein;
    animation: 1.5s ease 0s normal forwards 1 fadein;
}

.btn i {
    margin-right: 0px;
    opacity: .4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    vertical-align: middle;
    position: relative;
    top: 0px;
    font-size: 16px;
    line-height: 16px;
    display: inline-block;
    width: 26px;
}

.sk-three-bounce {
    display: none;
}


/* .sk-three-bounce {
    margin: 40px auto;
    width: 80px;
    text-align: center;
} */

.sk-three-bounce .sk-child {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 100%;
    display: inline-block;
    animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
}

.sk-three-bounce .sk-bounce1 {
    animation-delay: -.32s;
}

.sk-three-bounce .sk-bounce2 {
    animation-delay: -.16s;
}

@keyframes sk-three-bounce {
    0%,
    80%,
    100% {
        transform: scale(0)
    }
    40% {
        transform: scale(1)
    }
}

.section-title {
    width: 100%;
    display: table;
    margin-bottom: 12px;
}

.section-title__icon {
    display: table-cell;
    vertical-align: middle;
}

.icon--title-editing {
    font-size: 30px;
    color: #a4a6a8;
    vertical-align: -5px;
    margin-right: 10px;
}

.section-title__name {
    width: 100%;
    display: table-cell;
    color: #616568;
    position: relative;
}

.section-title__name input[type="text"].input--title-editing {
    border-radius: 3px;
    height: 56px !important;
    font-weight: 600;
    font-size: 32px;
    border-color: #eaeaea;
    background-color: transparent;
    padding: 0 44px 2px 9px;
    color: #616568;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.section-title__name label {
    margin: 0;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.section-title__label {
    background-color: #f7f7f7;
    padding: 0;
    position: absolute;
    text-transform: none;
    font-weight: 600;
    font-size: 32px;
    color: #a4a6a8;
    top: 15px;
    left: 10px;
    z-index: 998;
    cursor: text;
    width: calc(100% - 12px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    height: 35px !important;
}

.section-title__name input[type="text"].input--title-editing:focus {
    border-color: #a4a6a8;
    background-color: transparent;
}

.section-title__name input[type="text"].input--title-editing:focus~.section-title__label {
    color: #a4a6a8;
    font-weight: 400;
    padding: 0 8px;
    font-size: 14px;
    top: -10px;
    width: auto;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    height: 25px !important;
}

.btn-help-icon {
    cursor: pointer;
    margin-bottom: -5px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin-left: 0px !important;
    display: inline-block;
    vertical-align: middle;
    background: transparent;
    outline: 0 !important;
    box-shadow: none !important;
    border: none;
    font-size: 16px;
    padding: 0;
    color: #c9c9ce;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-transition: color .15s ease;
    -o-transition: color .15s ease;
    -webkit-transition: color .15s ease;
    transition: color .15s ease;
}

.section-title__icon_tooltip {
    position: absolute;
    top: 23px;
    right: 16px;
}

.btn-help-icon:before {
    content: "\f059";
    font-family: "Font Awesome 5 Free" !important;
}

.form-container {
    float: left;
    width: 100%;
    background: #fff;
    border: 1px #d4d4d4 solid;
    margin-bottom: 12px;
    overflow: hidden;
}

.form-container .section-header.section-open {
    background: #F4F4F4;
}

.form-container .section-header {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    width: 100%;
    background: #fff;
    cursor: pointer;
}

.form-container .form-title-row {
    margin-bottom: 0;
}

.form-container .form-title-row .box-icon {
    padding-left: 0;
}

.form-container .section-header .box-icon {
    height: 73px;
}

.form-container .form-title-row .box-icon .round-no {
    height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    padding-top: 0px;
    font-size: 18px;
    color: #3c4245;
}

.form-container .section-header .round-no {
    background-color: transparent !important;
    margin-top: 24px !important;
}

.form-container .form-title-row .box-icon .round-no i {
    font-size: 28px !important;
    color: #797d80;
    padding-left: 20px;
}

.form-container .section-header .round-no i {
    padding-left: 36px !important;
}

.form-container .form-title-row .box-title h3 {
    padding: 12px 0;
    font-size: 18px;
    font-weight: 600;
    color: #616568;
    margin-bottom: 5px;
}

.form-container .section-header .box-title h3 {
    line-height: 1.4;
    padding: 24px 0 !important;
    margin-bottom: 0 !important;
}

.form-container .section-body {
    padding: 6px 90px 0 15px;
    width: 100%;
    /* float: left; */
    background: #fff;
}

.form-container .section-body .section_type_container,
.form-container .section-body {
    margin-top: 10px !important;
    overflow: hidden;
    /* float: left; */
}

.form-container .section_type_container {
    margin-bottom: 18px;
    overflow: visible !important;
}

.form-container .section_type_container {
    width: 100% !important;
    margin-bottom: 18px;
    overflow: visible !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.form-container .section-subheadline {
    margin-bottom: 15px;
    font-size: 15px;
}

.form-container p {
    line-height: 1.7;
    color: #82848f;
    margin: 0;
    padding: 0;
}

.form-container .form-input-row .box-label {
    font-size: 15px;
    font-weight: 600;
    color: #797d80;
    padding-top: 15px;
    padding-bottom: 15px;
}

.form-container .form-input-row .box-input {
    padding: 0px 6px;
    margin-top: 5px;
}

.form-container .section-body .box-input {
    padding: 0 0 0 6px !important;
}

.form-container input[type="text"],
.form-container input[type="password"],
.form-container input[type="email"],
.form-container input[type="url"],
.form-container textarea,
.form-container select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    height: 44px;
    width: 100%;
    margin-bottom: 0px;
    background-color: #fff;
    border: 2px solid #eaeaea;
    border-radius: 2px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    color: #616568;
    font-weight: 600;
    outline: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
    line-height: normal !important;
}

.col-preview {
    transition: width .3s ease-in-out;
}

.overflow_base {
    opacity: 1 !important;
    transition: opacity .3s ease-in-out !important;
    transition-delay: .2s !important;
}

.overflow_base {
    background-color: #FFF;
    border-color: #d4d4d4;
    border-style: solid;
    border-width: 0 1px;
    position: fixed;
    width: 468px;
    top: 0;
    z-index: 5;
    min-height: 100vh;
    -webkit-box-shadow: 0 0 24px 0 rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 24px 0 rgb(0 0 0 / 10%);
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.preview-smartphone .template {
    width: 320px;
    height: 516px;
}

.ratchet .bar {
    position: relative;
    background: #797d80;
    border-bottom: 0;
}

.ratchet .bar-nav {
    top: 0;
}

.ratchet .bar {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 10;
    height: 44px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #797d80 !important;
    border-bottom: 1px solid #ddd;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.pure-g {
    *letter-spacing: normal;
    *word-spacing: -0.43em;
    text-rendering: optimizespeed;
    font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;
}

.pure-g [class*="pure-u"] {
    font-family: sans-serif;
}

.template-url .browser-input {
    margin-top: 7px;
    background: #fff;
    padding: 4px 6px;
    border-radius: 2px;
    color: #333;
    height: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 83.3333%;
}


/* 
.pure-u-1-6,
.pure-u-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
} */

.template-url .content {
    background: #fff url(../img/template-url-icon.svg) no-repeat center center;
}

.ratchet .content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    background-color: #fff;
    -webkit-overflow-scrolling: touch;
    z-index: 5;
}

.preview-smartphone .arrow_box {
    position: relative;
    background: #ffffff;
    border: 2px solid #eaeaea;
    border-radius: 5px;
    margin: 0px 20px 20px 20px;
    padding: 15px;
}

.preview-smartphone .arrow_box:before,
.preview-smartphone .arrow_box:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.preview-smartphone .arrow_box:before {
    border-color: rgba(234, 234, 234, 0);
    border-top-color: #eaeaea;
    border-width: 17px;
    margin-left: -17px;
}

.preview-smartphone .arrow_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #ffffff;
    border-width: 13px;
    margin-left: -13px;
}

.preview-smartphone .arrow_box span {
    line-height: 20px;
}

.preview-smartphone .content>* {
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.state-generator-data #smartphonePlaceholder {
    display: block !important;
}

.error>input[type="text"] {
    border: 1px solid red !important;
}

.state-generator-data .btn-group {
    background: #fff;
    margin-bottom: 30px;
    margin-left: 50px;
    border-radius: 30px;
    padding: 5px 5px;
}

.state-generator-data .btn-group .btn {
    padding: 8px 30px;
}

.state-generator-data .btn-group .btn.active {
    background-color: #AE2025;
    border-radius: 30px;
    color: #fff;
}

.preview-qrcode {
    padding: 30px;
    text-align: center;
}

.preview-qrcode h3 {
    color: #797d80 !important;
    font-weight: 700 !important;
    margin-top: 30px !important;
}

.preview-qrcode .code {
    text-align: center;
    border: 1px #d4d4d4 solid;
}

.preview-qrcode p {
    font-size: 16px;
    color: #797d80 !important;
    line-height: 22px !important;
    margin-top: 7px !important;
}

.mockup__qrcode-error {
    display: none;
}

.mockup__qrcode-error {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.97);
    border: 1px #d4d4d4 solid;
}

.mockup__qrcode-error .mockup__qrcode-error-content {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    padding: 0 20px;
}

.mockup__qrcode-error .mockup__qrcode-error-content i {
    margin-bottom: 14px;
    font-size: 48px;
    color: #ff5f4a;
}

.mockup__qrcode-error h4 {
    color: #3c4245 !important;
    font-size: 18px;
    font-weight: 700 !important;
    line-height: 26px;
}

.preview-qrcode img {
    width: 100%;
}

.barCodeError .qr-preview-overlay,
.barCodeError h3,
.barCodeError p {
    display: none;
    width: 0;
    height: 0;
}

.qr-manage-code {
    min-height: 152px;
    width: 100%;
    position: relative;
    padding: 20px 520px 20px 72px;
    margin: 0 0 27px;
    background: #fff;
    border: 1px solid #eaeaea;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.qr-manage-code__checkbox {
    position: absolute;
    top: 60px;
    left: 5px;
    display: none;
}

.checkboxes-container [type="checkbox"]:not(:checked),
.checkboxes-container [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

.checkboxes-container [type="checkbox"]:not(:checked)+label,
.checkboxes-container [type="checkbox"]:checked+label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}

.qr-manage-code__checkbox label {
    position: relative;
    width: 23px;
    height: 23px;
    padding-left: 0 !important;
}

.qr-manage-code__type {
    font-size: 12px;
    color: #d4d4d4;
    line-height: 1;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    cursor: default;
}

.qr-manage-code__type-icon {
    font-size: 25px;
    color: #797d80;
    position: absolute;
    left: 33px;
    top: 35px;
}

.qr-manage-code__title--editable {
    cursor: text;
}

.qr-manage-code__title {
    color: #797d80;
    border-color: transparent;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.qr-manage-code__title,
.qr-manage-code__title-input {
    font-size: 24px;
    padding: 2px 8px;
    margin: 0 0 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    line-height: 1.2;
    vertical-align: middle;
    position: relative;
    left: -9px;
}

.qr-manage-code__folder-icon {
    font-size: 16px;
    color: #d4d4d4;
    position: absolute;
    left: 37px;
    top: 77px;
}

.qr-manage-code__folder {
    font-size: 14px;
    color: #a4a6a8;
    padding: 0 5px 0 0;
    margin: 0 0 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    max-width: 135px;
    cursor: default;
}

.qr-manage-code__date {
    font-size: 14px;
    color: #a4a6a8;
    white-space: nowrap;
    position: relative;
    cursor: default;
}

.qr-manage-code__date-icon {
    font-size: 22px;
    color: #d4d4d4;
    position: absolute;
    left: -38px;
    top: -2px;
}

.qr-manage-code__status {
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 13px;
    line-height: 1;
    padding: 4px 8px;
    background: #eaeaea;
    color: #797d80;
    cursor: default;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.qr-manage-code__url {
    border-left: 1px solid #f7f7f7;
    padding: 0 0 0 55px;
    margin: 0;
    color: #a4a6a8;
    font-size: 14px;
    position: relative;
    float: left;
    top: -50px;
    left: 135px;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 255px;
}

.qr-manage-code__url-icon {
    font-size: 16px;
    color: #d4d4d4;
    position: absolute;
    left: 24px;
    top: 2px;
}

.qr-manage-code__url-container {
    padding: 0 16px 0 0;
}

code__url a {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

.qr-manage-code__url-link {
    display: inline-block !important;
}

.qr-manage-code__edit-icon {
    color: #d4d4d4;
    position: relative;
    top: -3px;
    cursor: pointer;
    visibility: hidden;
    padding: 8px 8px 0 8px;
}

.qr-manage-code__target {
    position: static;
}

.qr-manage-code__target-icon {
    font-size: 16px;
    color: #eaeaea;
    position: absolute;
    left: 28px;
    top: 26px;
    transform: rotate(90deg);
}

.icon-qr-link-arrow:before {
    content: "\e02b";
}

.qr-manage-code__target a {
    width: fit-content;
    padding: 1px 6px;
    margin: -1px 0 0 -6px;
    z-index: 1;
}

.qr-manage-code__stats {
    position: absolute;
    right: 385px;
    top: 30px;
    border-left: 1px solid #f7f7f7;
    padding: 6px 0 5px 24px;
    margin: 0;
    width: 130px;
}

.qr-manage-code__scans {
    color: #797d80;
    font-size: 25px;
    font-weight: 600;
    line-height: 1;
    cursor: default;
}

.qr-manage-code__scans-label {
    font-size: 14px;
    color: #a4a6a8;
    line-height: 1;
    cursor: default;
}

.qr-manage-code__insights {
    display: inline-block;
    border: 0;
    background: transparent;
    color: #47bdef;
    padding: 0;
    margin: 16px 0 0;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.qr-manage-code__insights-icon {
    font-size: 12px;
    margin: 0 0 0 7px;
    padding: 0;
    position: relative;
    top: 1px;
    transition: margin 150ms linear;
}

.qr-manage-code__qr {
    width: 148px;
    position: absolute;
    top: 1px;
    right: 235px;
    border: 0;
    padding: 0;
    margin: 0;
}

.qr-code-image {
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 0 0 100%;
    margin: 0;
    text-align: center;
}

.qr-code-image__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.qr-manage-code__download {
    position: absolute;
    top: 54px;
    right: 24px;
    width: 170px;
}

.qr-manage-download--new {
    position: relative;
}

.qr-manage-download--new .qr-manage-download {
    padding: 0;
    background-color: transparent;
}

.qr-manage-download {
    position: relative;
    background: #eaeaea;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 2px 40px 2px 2px;
    margin: 0;
    border: 0;
    height: auto;
    width: 100%;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.qr-manage-download--new .qr-manage-download__button {
    padding: 12px 0;
    height: 44px;
    border: 2px solid #EAEAEA;
    border-radius: 2px;
    transition: all .3s ease-in-out;
}

.qr-manage-download__button {
    display: block;
    width: 100%;
    height: auto;
    border: 0;
    background: #fff;
    color: #47bdef;
    text-align: center;
    text-decoration: none;
    padding: 14px 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.qr-manage-download--new .qr-manage-download__actions {
    text-align: center;
    margin-top: 4px;
    visibility: hidden;
    opacity: 0;
}

.qr-manage-download--new .qr-manage-download__actions .qr-icon-menu__item,
.qr-manage-download--new .qr-manage-download__actions .qr-manage-download__actions-more {
    width: 32px;
    height: 32px;
    border: 0;
    background: transparent;
    color: #D4D4D4;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    float: none;
    border-radius: 2px;
    padding: 0;
    margin-right: 5px;
    transition: all .3s ease-in-out;
}

.qr-icon-menu__item {
    display: block;
    float: left;
    width: 20%;
    height: 43px;
    cursor: pointer;
    padding: 0;
    border: 0;
    background: transparent;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    color: #a4a6a8;
    text-align: center;
    line-height: 36px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.qr-manage-download--new .qr-manage-download__actions .qr-icon-menu__item>.icon,
.qr-manage-download--new .qr-manage-download__actions .qr-manage-download__actions-more>.icon {
    font-size: 16px;
    position: relative;
    top: auto;
    left: auto;
    margin: 0;
    padding: 0;
}

.qr-icon-menu__icon {
    font-size: 24px;
    color: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -15px;
}

.qr-manage-code:hover .qr-manage-download__actions {
    visibility: visible;
    opacity: 1;
}

.qr-manage-code__checkbox [type="checkbox"]:not(:checked)+label:before,
.qr-manage-code__checkbox [type="checkbox"]:checked+label:before {
    top: 5px;
    left: 5px;
    width: 13px;
    height: 13px;
}

.checkboxes-container [type="checkbox"]:not(:checked)+label:before,
.checkboxes-container [type="checkbox"]:checked+label:before {
    content: '';
    position: absolute;
    right: 15px;
    top: 10px;
    width: 20px;
    height: 20px;
    border: 2px solid #d4d4d4;
    background: #f8f8f8;
    border-radius: 2px;
}

.checkboxes-container label:hover:before {
    border: 2px solid #a4a6a8 !important;
}

.qr-manage-code__checkbox [type="checkbox"]:not(:checked)+label:after,
.qr-manage-code__checkbox [type="checkbox"]:checked+label:after {
    top: 4px;
    left: 2px;
    font-size: 20px;
}

.checkboxes-container [type="checkbox"]:not(:checked)+label:after {
    opacity: 0;
    transform: scale(0);
}

.checkboxes-container [type="checkbox"]:not(:checked)+label:after,
.checkboxes-container [type="checkbox"]:checked+label:after {
    font-family: "Font Awesome 5 Free" !important;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f00c";
    position: absolute;
    top: 13px;
    right: 0px;
    left: 8px;
    font-size: 14px;
    color: #fff;
    transition: opacity .2s;
}

.qr-manage-code:hover .qr-manage-code__checkbox {
    display: inline-block !important;
}

.qr-manage-code__checkbox [type="checkbox"]:checked+label:before {
    background: #47bdef !important;
    border-color: #47bdef !important;
}

.colors-list li {
    display: inline-block;
    margin: 0 20px 20px 0;
    cursor: pointer;
}

.colors-list li a {
    display: inline-block;
    height: 60px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.04);
    border: 1px solid #d4d4d4;
    padding: 4px 7px 6px 7px;
    border-radius: 2px;
}

.colors-list li a .c1 {
    width: 100%;
    height: 20px;
    border-radius: 0 !important;
}

.colors-list li a div {
    height: 30px;
    width: 20px;
    display: inline-block;
    float: left;
}

.colors-list li a .c2 {
    border-radius: 50% !important;
    height: 12px;
    width: 12px;
    margin-left: 30px;
    margin-top: 2px;
}

.colors-list li a.active {
    border-color: #AE2025;
    border-width: 2px;
    background-color: #fff;
    position: relative;
}

.colors-list li a.active:after {
    display: block;
    position: absolute;
    bottom: -8px;
    right: -7px;
    height: 24px;
    width: 24px;
    background-color: #ffffff;
    border-radius: 50%;
    font-family: "Font Awesome 5 Free" !important;
    content: "\f058";
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 24px;
    color: #AE2025;
    text-align: center;
    padding-top: 0;
}

.box-input small {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.dark-semibold {
    font-size: 15px;
    color: #616568;
    font-weight: 600;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.box-input .color-picker input {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.box-input .color-picker .input-group-addon {
    padding: 6px;
    background-color: transparent;
    border: 2px solid #eaeaea;
    border-left: none;
    width: 40px;
    height: 26px;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 0px;
}

.input-group-addon,
.input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}

.input-group-addon,
.input-group-btn,
.input-group .form-control {
    display: table-cell;
}

.form-container input[type="text"],
.form-container input[type="password"],
.form-container input[type="email"],
.form-container input[type="url"],
.form-container textarea,
.form-container select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    height: 44px;
    width: 100%;
    margin-bottom: 0px;
    background-color: #fff;
    border: 2px solid #eaeaea !important;
    border-radius: 2px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    color: #616568;
    font-weight: 600;
    outline: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
    line-height: normal !important;
}

.form-container .input-group.color-picker .full-spectrum {
    margin: 0px;
    padding: 0px;
}

.form-container .sp-replacer.spectrum--rounded-solution {
    height: auto;
    min-width: auto;
    border-radius: unset;
    box-shadow: unset;
}

.form-container .input-group.color-picker .full-spectrum .sp-preview {
    width: 26px;
    height: 26px;
    border: none;
    margin: 0px;
}

.form-container .input-group.color-picker .full-spectrum .sp-preview .sp-preview-inner {
    border: 0;
    border-radius: 2px;
}

.sp-replacer {
    float: right;
    margin: 10px 0px 10px 15px;
    border: none;
    background: none;
    padding: 0;
}

.spectrum--rounded-solution {
    min-width: 215px;
}

.spectrum--rounded {
    height: 258px;
    min-width: 343px;
    padding: 16px;
    border: 0;
    border-radius: 24px;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 16%);
}

.sp-replacer {
    margin: 0;
    overflow: hidden;
    cursor: pointer;
    padding: 4px;
    display: inline-block;
    border: solid 1px #91765d;
    background: #eee;
    color: #333;
    vertical-align: middle;
}

.sp-preview {
    border: none;
    height: 40px;
    width: 42px;
    background: none;
}

.sp-alpha,
.sp-preview,
.sp-thumb-el {
    position: relative;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAAGUlEQVQYV2M4gwH+YwCGIasIUwhT25BVBADtzYNYrHvv4gAAAABJRU5ErkJggg==);
}

.sp-preview {
    position: relative;
    width: 25px;
    height: 20px;
    border: solid 1px #222;
    margin-right: 5px;
    float: left;
    z-index: 0;
}

.sp-preview-inner {
    border: none;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    background-image: -webkit-linear-gradient(-450deg, rgba(255, 255, 255, 0.1) 0%, transparent 100%);
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, transparent 100%);
    border-radius: 8px;
    display: block;
    box-shadow: inset 0 0 1px rgb(0 0 0 / 30%);
    border: 4px solid #fff;
}

.sp-alpha-inner,
.sp-preview-inner,
.sp-thumb-inner {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.form-container a.colorswapper {
    font-size: 30px;
    color: #9d9ea7;
    cursor: pointer;
    top: 36px;
    position: relative;
    left: 36px;
}

.form-container a.colorswapper i {
    cursor: pointer;
}

.header-gallery-container.showGallery {
    animation: slideDown 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

.header-gallery-container {
    background: white;
    left: -15px;
    bottom: -80px;
    width: calc(100% + 105px);
    min-height: 241px;
    position: absolute;
    z-index: 999;
    border-top: 1px #d4d4d4 solid;
    padding: 20px 0 0;
    animation: slideUp 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

.header-gallery-container {
    position: relative;
    height: auto;
    min-height: 380px;
    margin-top: -79px;
    margin-bottom: 0;
}

.header-gallery-content {
    position: relative;
}

.form-container a {
    text-decoration: none;
    color: #47bdef;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
    outline: none;
    font-size: 15px;
    font-weight: 600;
}

.photos-gallery {
    margin-top: 20px;
    white-space: nowrap;
    position: relative;
    padding-bottom: 0;
    padding-top: 15px;
    display: block;
    width: 100%;
}

.photos-gallery .image-container {
    margin: 0 15px 0 0;
    width: 241px !important;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.photos-gallery .image-container .custom-image-border {
    margin: 2px;
    outline: #d4d4d4 solid 1px;
    width: 241px !important;
    height: 135px !important;
}

.photos-gallery .image-container .custom-image-border .custom-image {
    width: 100%;
    height: 100%;
}

.slick-slide {
    margin: 0px 20px;
    width: 230px !important;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-prev {
    left: 0px;
    z-index: 999;
}

.slick-next {
    right: 0px;
}

.slick-arrow {
    position: absolute;
    top: 69px;
    background: #f4f4f4;
    opacity: .87;
    width: 48px;
    height: 136px;
    text-align: center;
    cursor: pointer;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    background: #f4f4f4 !important;
}


/* .slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
} */

.custom-color-container.show-custom-color {
    animation: slideColorsDown 0.2s ease-in-out forwards;
    cursor: pointer;
    display: block;
}

.custom-color-container {
    bottom: -40px;
    height: 32px;
    cursor: initial;
    display: none;
}

.custom-colors-square {
    cursor: pointer;
    margin-top: 4px;
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 2px;
    border: 1px #f4f4f4 solid;
}

.color-picker-circle {
    background: url(../img/color-picker.png) no-repeat;
    display: inline-block;
    margin-left: 4px;
    width: 24px;
    height: 24px;
}

.photos-gallery .image-container .custom-image-border.color-selected {
    outline: #AE2025 solid 2px;
}

.color-selected {
    border-color: #AE2025 !important;
}

.color-picker-circle .input-group-addon {
    opacity: 0;
    width: 24px;
    height: 24px;
}

.color-picker-circle input {
    display: none !important;
}

.form-container .charleft {
    top: -24px;
    position: relative;
    right: 7px;
    float: right;
    color: #ddd;
    font-size: 14px;
}

.form-container textarea {
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: auto;
    resize: vertical;
}

.ml-10 {
    margin-left: 10px !important;
}

div[class^='channel-bgd-'] {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    float: right;
    margin-top: -10px;
    text-align: center;
    position: relative;
}

div[class^='channel-bgd-'] i {
    position: absolute;
    font-size: 18px;
    color: #fff;
    line-height: 41px;
    left: 11px;
}

.channel-bgd-website {
    background: #616568;
}

.channel-bgd-facebook {
    background: #3b5998;
}

.channel-bgd-youtube {
    background: #cd201f;
}

.channel-bgd-twitter {
    background: #1da1f2;
}

.channel-bgd-instagram {
    background: #e1306c;
}

.channel-bgd-whatsapp {
    background: #25d366;
}

.channel-bgd-tiktok {
    background: #000;
}

.channel-bgd-snapchat {
    background: #fffc00;
}

.channel-bgd-telegram {
    background: linear-gradient(180deg, #2AABEE 0%, #229ED9 99.26%);
}

.channel-bgd-messenger {
    background: radial-gradient(108.96% 108.96% at 19.25% 99.47%, #002FFF 0%, #A033FF 60.98%, #FF5280 93.48%, #FF7061 100%);
}

.channel-bgd-yelp {
    background: #F43939;
}

.channel-bgd-googlereview {
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
}

.channel-bgd-pinterest {
    background: #bd081c;
}

.channel-bgd-linkedin {
    background: #0077b5;
}

.channel-bgd-xing {
    background: #026466;
}

.channel-bgd-flickr {
    background: #ff0084;
}

.channel-bgd-vimeo {
    background: #1ab7ea;
}

.channel-bgd-dribbble {
    background: #ea4c89;
}

.channel-bgd-vkontakte {
    background: #45668e;
}

.channel-bgd-reddit {
    background: #ff4500;
}

.channel-bgd-tumblr {
    background: #35465c;
}

.channel-bgd-github {
    background: #191717;
}

.channel-bgd-soundcloud {
    background: linear-gradient(180deg, #F79810 0%, #F8310E 100%);
}

.channel-bgd-spotify {
    background: #1ED760;
}

.channel-bgd-skype {
    background: #00aff0;
}

.channel-bgd-tripadvisor {
    background: #589442;
}

.channel-bgd-line {
    background: #00c300;
}

.channel-bgd-googlereview i {
    color: #4285F4 !important;
}

.channel-bgd-snapchat i {
    color: #000 !important;
}

.input-group__tooltip-icon {
    font-size: 19px;
    color: #D4D4D4;
    position: absolute;
    z-index: 23;
    top: 13px;
    right: 15px;
}

.channels-container .input-group {
    width: 100%;
    margin-bottom: 12px;
}

.channels-container .input-group .input-group-addon {
    width: 95px;
    background: #f7f7f7;
    border-width: 2px;
    border-color: #eaeaea;
    font-size: 15px;
    color: #797d80;
    font-weight: 500;
    border-radius: 2px;
}

.input-group-addon:first-child {
    border-right: 0;
}

ul.channels-list {
    padding: 0;
}

.channels-list li {
    display: inline-block;
    font-size: 22px;
    color: #797d80;
    cursor: pointer;
    margin-right: 30px;
    margin-bottom: 20px;
    position: relative;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.channels-list li:hover {
    color: #AE2025;
}

.channels-list .channel-icon-name {
    display: none;
    font-size: 14px;
    color: #AE2025;
    position: absolute;
    bottom: -20px;
    left: -40px;
    min-width: 100px;
    text-align: center;
    width: 100%;
}

.channels-list li:hover .channel-icon-name {
    display: block;
}

.hide {
    display: none;
}

.channel-row {
    width: 100%;
}

.channel-controller {
    display: none;
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
}

.channel-controller i {
    font-size: 14px;
    color: #a4a6a8;
    cursor: pointer;
}

.channels-container:hover .channel-controller {
    display: block;
}

.channels-container {
    float: left;
    width: 105%;
    margin-bottom: 13px;
    padding-right: 5%;
    position: relative;
}

.welcomeImage {
    border: 1px #eaeaea solid !important;
}

.croppreview {
    overflow: hidden;
    width: 160px;
    height: 160px;
    margin: 10px;
    border: 1px solid red;
}

#cropimage {
    width: 100%;
    height: 400px;
}

.croppreviewimage {
    width: 194px;
    height: 112px;
    position: absolute;
    display: none;
}

.croppreviewimage img {
    width: 100%;
    height: 100%;
}

.croppreviewimage span {
    position: absolute;
    right: 20px;
    top: 10px;
    color: #fff;
    background: #0009;
    padding: 0px 5px;
}

.changeWelcomeImage {
    margin-top: 30px;
}

#smartphonePlaceholder iframe {
    height: 516px;
    width: 100%;
    border: 0;
}


/* start preview css */

body#dsocial-body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif !important;
}

#dsocial-body,
#dsocial-body .vcard-header,
#dsocial-body .event-body,
#dsocial-body .floated-container {
    float: left;
    width: 100%;
    position: relative;
}

#dsocial-body .vcard-template.style2 .vcard-header {
    position: relative;
    text-align: center;
}

#dsocial-body .vcard-template.style2 .vcard-header .vcard-header-wrapper {
    background: #fff;
}

#dsocial-body .vcard-template.style2 .vcard-header .vcard-top-info {
    margin: 0 auto 0 auto;
    max-width: 100%;
    background-repeat: no-repeat !important;
    height: 360px;
}

#dsocial-body .vcard-template.style2 .vcard-header .avatar-container {
    background-position: center center !important;
}

#dsocial-body .event-section-title {
    background: #447fb6;
    padding: 30px 20px;
    min-height: 56px;
}

.shadow-2 {
    box-shadow: 0px 2px 2.82px 0.18px rgb(0 0 0 / 24%), 0px 1px 3.92px 0.08px rgb(0 0 0 / 16%);
}

#dsocial-body .event-content-container {
    max-width: 442px;
    margin: 0 auto;
    text-align: left;
}

#dsocial-body .event-title {
    font-size: 24px;
    color: #fffefe;
    font-weight: 400;
    text-align: left;
    line-height: 1.2;
}

.whiteTheme .dynamicTextColor {
    color: #fffefe !important;
}

#dsocial-body .event-teaser {
    margin-top: 10px;
    opacity: 0.7;
    font-size: 16px;
    color: #fffefe;
    font-weight: 400;
    line-height: 1.5;
}

#dsocial-body .vcard-template.style2 .vcard-body {
    padding-top: 0;
}

#dsocial-body .vcard-template .vcard-body {
    max-width: 100%;
    margin: 0 auto 0 auto;
    padding-bottom: 20px;
    z-index: 50;
}

#devent-details {
    position: relative;
    display: inline-block;
    width: 100%;
}

.channel-container {
    border-bottom: 1px rgba(0, 0, 0, 0.12) solid;
    cursor: pointer;
    min-height: 50px;
    display: block;
    position: relative;
    padding: 16px 100px;
}

.pos-relative {
    position: relative !important;
    float: left !important;
}

.pl-55 {
    padding-left: 55px;
}

.channel-prop-container {
    width: 100%;
    position: relative;
    padding-top: 5px;
}

.channel-name {
    font-size: 16px;
    color: #000000;
    font-weight: 400;
    max-width: 100%;
    min-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    display: block;
    line-height: 1.2;
    float: left;
}

.channel-label {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 400;
    float: left;
    width: 100%;
}

.channel-bgd {
    position: absolute !important;
    left: 0;
    top: calc(50% - 8px);
}

#dsocial-body .vcard-template .vcard-body .vcard-row {
    position: fixed;
    bottom: 5px;
    right: 17px;
    width: 80px;
}

.fabs {
    bottom: 0;
    position: absolute;
    margin: 1em;
    right: 0;
    z-index: 998;
}

.fabshare {
    display: block;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    margin: 25px auto 0;
    box-shadow: 0px 10px 14.1px 0.9px rgb(0 0 0 / 24%), 0px 4px 19.6px 0.4px rgb(0 0 0 / 16%);
    cursor: pointer;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
    position: relative;
    z-index: 998;
    overflow: hidden;
}

.fabshare>i {
    font-size: 34px;
    line-height: 67px;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-in-out;
}

#dsocial-body .blur-bgd {
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
    height: 700px;
    background-repeat: no-repeat !important;
    background-size: 100% !important;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}

@media (max-width: 320px) {
    #dsocial-body .vcard-template.style2 .vcard-header .vcard-top-info {
        height: 170px;
    }
    #dsocial-body .event-section-title {
        padding: 18px 20px;
    }
    #dsocial-body .event-title {
        font-size: 24px;
        font-size: 1.2rem !important;
    }
    #dsocial-body .event-teaser {
        font-size: 16px;
        font-size: .8rem !important;
    }
    .channel-container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .pos-relative {
        padding-right: 35px !important;
    }
    #dsocial-body .vcard-template .vcard-body .vcard-row {
        bottom: 15px;
        right: 0px;
    }
    .share-container,
    .calendar-container {
        z-index: 999;
    }
    #dsocial-body .fabs {
        right: 20px;
    }
    #dsocial-body .fabshare {
        width: 50px;
        height: 50px;
    }
    #dsocial-body .fabshare>i {
        font-size: 20px;
        line-height: 50px;
    }
}

@media (max-width: 666px) {
    .fabs {
        float: right;
        position: relative;
        margin: 0;
        right: 15px;
    }
    .fabshare {
        margin: 0;
    }
}

@media (max-width: 768px) {
    .hidden-xs {
        display: none;
    }
}

@media (min-width: 667px) {
    .fabshare {
        display: block;
        width: 100%;
        height: 56px;
        border-radius: 2px;
        margin-top: 0 !important;
    }
    .fabshare span {
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        display: inline-block;
        line-height: 56px;
        position: relative;
        padding-left: 45px;
    }
    .fabshare span i {
        font-size: 20px;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 18px;
    }
    .fabs {
        position: relative;
        margin: 0 auto;
        max-width: 438px;
    }
    .fabshare .prime.visible-xs {
        display: none;
    }
}

@media (min-width: 690px) {
    #dsocial-body .vcard-template.style2 .vcard-header .vcard-header-wrapper {
        width: 640px;
        margin: 0 auto;
        box-shadow: 0px 4px 7.36px 0.64px rgb(0 0 0 / 24%), 0px 1px 7.68px 0.32px rgb(0 0 0 / 16%);
    }
    #dsocial-body .vcard-template.style2 .vcard-body-wrapper {
        width: 640px;
        margin: 0 auto;
        background: #fff;
        box-shadow: 0px 4px 7.36px 0.64px rgb(0 0 0 / 24%), 0px 1px 7.68px 0.32px rgb(0 0 0 / 16%);
        margin-bottom: 60px;
    }
    #dsocial-body .vcard-template.style2 .vcard-header {
        padding-top: 60px;
    }
    #dsocial-body .vcard-template .vcard-body .vcard-row {
        position: relative;
        padding: 25px 0 20px 15px;
        display: inline-block;
        width: 100%;
    }
}


/* end preview css */